<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ecost.specter">

    <supports-screens
        android:smallScreens="false"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.specter">
        <activity
            android:name=".Routing"
            android:exported="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.AuthActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".menu.MainMenuActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".channel.ChannelActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".OldVersionActivity"
            android:screenOrientation="nosensor" />
    </application>

</manifest>